

.no-data-wrapper {
    
    .no-data-inner {
        width: 300px;
        margin: 90px auto;
        text-align: center;
        color: #9f9f9f;
        
        img {
            margin-bottom: 40px;
        }
    }
}