<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-xs-1  col-sm-2  col-lg-4"></div>
            <div class="col-xs-10  col-sm-8  col-lg-4" [ngClass]="animateOnRouteEnter">

                <div class="logo-header" >
                    <span><img src="./assets/img/logo.png"></span>
                    <h1>GYMO</h1>
                </div>

                <md-card>
                    <md-card-content>

                            <router-outlet></router-outlet>
                            
                    </md-card-content>
                </md-card>
          
            </div>

            <div class="col-xs-1  col-sm-2  col-lg-4"></div>
        </div>
    </div>
</div>
  
