<p>
  change-password works!
</p>

<md-form-field class="example-full-width">
  <input mdInput  type="text" placeholder="Full Name">
</md-form-field>


<md-form-field class="example-full-width">
      <input mdInput  type="text" placeholder="Gender" >
</md-form-field>


<md-form-field class="example-full-width">
      <input mdInput type="text" placeholder="birthday" >
</md-form-field>

<md-form-field class="example-full-width">
  <input mdInput  type="email" placeholder="E-Mail" required>
</md-form-field>

<md-form-field class="example-full-width">
      <input mdInput type="password" placeholder="Password" required>
</md-form-field>

<button md-raised-button class="" (click)="null">
  <i class="material-icons"></i> Update Profile
</button>