@import '../../../assets/scss/_variables';


.background {
    padding: 200px 0;
    position: relative;
    min-height: 900px;
    // top: 88px;
    
  
    h1 {
      text-align: center;
      font-size: 3em;
      text-transform: uppercase;
      color: $primary;
    }

    h2 {
      text-align: center;
      // font-size: 3em;
      text-transform: uppercase;
    }

    .actions {
      text-align: center;
      margin: 50px;
      z-index: 1;
  
      span {
        display: inline-block;
        font-weight: bold;
        padding: 10px;
      }
  
      a {
        margin: 0 0 10px 0;
      }
    }
  
    .get-started {
      width: 700px;
      margin: 50px auto 0 auto;
      padding-bottom: 50px;
      font-size: 0.9em;
      letter-spacing: .01px;
      overflow-wrap: break-word;
      z-index: 1;
  
      code {
        display: inline-block;
        word-wrap: break-word;
        white-space: normal;
        margin: 0 0 10px 0;
      }
    }
  
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    //   background: url('../../assets/img/intro.jpg') no-repeat center top;
      background-size: cover;
      opacity: .7;
      content: "";
      z-index: 0;
    }
  }



  .logo-header {
      width: 200px;
      margin: 10px auto;

      h1 {
        font-size: 21px;
        display: inline-block;
        color: $black;
      }

      img {
        height: 45px;
      }
  }

  // md-card-header {
  //   text-align: center;
  // }
  
  md-card-content {
    button {
      width: 100%;
      background-color: $primary;
      color: $white;
      margin-bottom: 20px;

      .other-btn {
        width: 50%;
      }
    }

    .more-actions {
      text-align: center;
  
      a {
        color: $primary;
      }
    }
  }







  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }