<md-card>
    <md-card-title>Query Builder</md-card-title>
    <md-card-subtitle>
        Query Builder Managment
    </md-card-subtitle>
    
    <md-card-content >
      <md-accordion>

            <md-expansion-panel>
              <md-expansion-panel-header>
                This is the expansion 1 title
              </md-expansion-panel-header>
              <br>
              <md-checkbox>Check me!</md-checkbox><br>
              <md-checkbox>Check me!</md-checkbox>

            </md-expansion-panel>
          
            <md-expansion-panel>
              <md-expansion-panel-header>
                This is the expansion 2 title
              </md-expansion-panel-header>
              This the expansion 2 content
            </md-expansion-panel>

            <md-expansion-panel>
              <md-expansion-panel-header>
                This is the expansion 2 title
              </md-expansion-panel-header>
              This the expansion 2 content
            </md-expansion-panel>

            <md-expansion-panel>
              <md-expansion-panel-header>
                This is the expansion 2 title
              </md-expansion-panel-header>
              This the expansion 2 content
            </md-expansion-panel>
      </md-accordion>
        
      <button md-raised-button class="" (click)="null">
          <i class="material-icons"></i> Submit Query
      </button>

    </md-card-content>
</md-card>