@import '../../../assets/scss/_variables';

// .sidebar-dashboard- {
//     width: 300px;
//     height: 900px;
//     border: 2px solid #444;
//     position: fixed;
// }

md-card {
    height: 750px;

    button {
        margin-top:12px;
        color: $white;
        background-color: $primary;
    }
}