<!-- <md-sidenav-container>
        <md-sidenav #infopane mode="over" opened="false" class="pane-wrapper">
                sdsd
        </md-sidenav>
        <div class="content-wrapper">

        </div>   
</md-sidenav-container> -->


<!-- <div *ngIf="authService.user | async"> -->
<div >
                                
        <gymo-header></gymo-header>

        <gymo-content></gymo-content>

        <gymo-footer ></gymo-footer>
</div>

<!-- <gymo-auth *ngIf="!(authService.user | async)"></gymo-auth> -->
        