<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar-column">
            <div class="row">
                <div class="col-md-12" >
                    <gymo-sidebar-dashboard></gymo-sidebar-dashboard>
                </div>
            </div>
        </div>
        <div class="col-md-10 widgets-column" [ngClass]="animateOnRouteEnter">
            <div class="row" >
                <div class="col-md-4" *ngFor="let item of widgetsData; let i = index">
                    <gymo-widget [widgetType]="widgetsData[i].type" [widgetData]="widgetsData[i]"></gymo-widget>
                    <!-- <gymo-widget [widgetData]="widgetsData[i]"></gymo-widget>                     -->
                </div>
            </div>
        </div>
    </div>
</div>
