

@import './assets/scss/_variables';


// @import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
// @import '~bootstrap/scss/utilities';


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 
@import '~@angular/material/theming';

// @include mat-core();

// // = theme ========
// $anms-primary: mat-palette($mat-indigo, 800, 300, 900);
// $anms-accent: mat-palette($mat-light-blue);
// $anms-warn: mat-palette($mat-deep-orange, A200);

// $anms-theme: mat-light-theme(
//     $anms-primary,
//     $anms-accent,
//     $anms-warn
// );



html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  background-color: $background-color-light-blue;
}

button:focus {
  outline: none;
}
