<div class="" >
    <md-form-field class="example-full-width" [hideRequiredMarker]="true">
        <input mdInput  type="email" placeholder="E-Mail" required>
    </md-form-field>

    <md-form-field class="example-full-width">
            <input mdInput type="password" placeholder="Password" >
    </md-form-field>

    <button md-raised-button class="" (click)="login()">
        <i class="material-icons"></i> Log-in
    </button>

    <button md-raised-button class="other-btn" (click)="loginWithGoogle()">
        <i class="material-icons"></i> Log-in With Google
    </button>

    <div class="more-actions">
        <div>Do not have an account? <a routerLink="/signup">Sign up</a></div>                                    
        <div class=""><a routerLink="/forgot-pass">Forgot password?</a></div>
    </div>
    
</div>