
<div class="container-fluid">
  
  <div class="row">

      <div class="col-md-12" >
          <div class="row" >

              <div  class="col-md-2" [ngClass]="animateOnRouteEnter">
                <md-card>
                    <md-card-header>
                        <img mat-card-avatar src="../../assets/img/profile-sm.jpg">
                        <md-card-title>Cards are the best</md-card-title>
                        <md-card-subtitle>Really, they are!</md-card-subtitle>
                      </md-card-header>
                    
                    <img mat-card-image src="../../assets/img/profile-sm.jpg">
                    
                  <md-card-content >
                    dfdf
                  </md-card-content>
                </md-card>
                
              </div>

            </div>
      </div>
  </div>
</div>
