
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" >
            <div class="row" >
                <div class="col-md-12" >
                  <md-card>
                    <!-- <md-card-header>Settings</md-card-header>  -->
                    <md-card-content >
                        <div class="row">
                            <div class="col-md-2 menu-col">
                                <ul>
                                    <li><a routerLinkActive="active" routerLink="/profile">Profile</a></li>                                                                            
                                    <li><a routerLinkActive="active" routerLink="/general">General</a></li>
                                    <li><a routerLinkActive="active" routerLink="/change_password">Change Password</a></li>
                                </ul>
                            </div>    

                            <div class="col-md-10 content-col">
                                <router-outlet ></router-outlet>
                                <!-- <div class="" *ngIf="settingsPage === 'profile'">

                                        <h2>Profile</h2>
    
                                        <md-form-field class="example-full-width">
                                            <input mdInput  type="text" placeholder="Full Name">
                                        </md-form-field>
    
            
                                        <md-form-field class="example-full-width">
                                                <input mdInput  type="text" placeholder="Gender" >
                                        </md-form-field>
    
    
                                        <md-form-field class="example-full-width">
                                                <input mdInput type="text" placeholder="birthday" >
                                            </md-form-field>
    
                                        <md-form-field class="example-full-width">
                                            <input mdInput  type="email" placeholder="E-Mail" required>
                                        </md-form-field>
                
                                        <md-form-field class="example-full-width">
                                                <input mdInput type="password" placeholder="Password" required>
                                        </md-form-field>
                
                                        <button md-raised-button class="" (click)="null">
                                            <i class="material-icons"></i> Update Profile
                                        </button>
                                </div> -->

                            </div>  
                        </div>
                    </md-card-content>
                  </md-card>
                </div>
            </div>
        </div>
    </div>
  </div>








<!-- <div class="container-fluid">
    <div class="row background">
        <div class="col-md-12" >

        </div>
    </div>
</div> -->
  




<!-- <div class="row test">
    <div class="col-md-12" [ngClass]="animateOnRouteEnter">

        <md-checkbox>Check me!</md-checkbox>
        <md-checkbox>Check me!</md-checkbox>
        <md-checkbox>Check me!</md-checkbox>
        
        </div> 
</div> -->

  



        <!-- <div class="col-md-4 upload-column" [ngClass]="animateOnRouteEnter">
            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
            <button md-raised-button type="button" (click)="uploader.uploadAll()"
                                                   [disabled]="!uploader.getNotUploadedItems().length"
            >
                Upload  Image
            </button>
        </div> -->